@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  background-image: url("../assets/shapes/circle.png"),
    url("../assets/shapes/traingle.png"), url("../assets/shapes/circle.png"),
    url("../assets/shapes/traingle.png"), url("../assets/shapes/circle.png"),
    url("../assets/shapes/traingle.png");
  background-position: -30vw, 14vw -21vw, 83vw -19vw, 90vw 13vw, 52vw 44vw,
    -18vw 47vw;
  background-repeat: no-repeat;
}
